header {
  $color-left: #f1f7fd;
  $color-middle: #afd8fb;
  $color-right: #c7cad6;

  color: white;
  width: 100%;
  text-shadow: 1px 2px 0.3rem $grey-medium;
  margin-bottom: 2rem;
  background: $color-left;
  background: linear-gradient(135deg, $color-left 0%, $color-middle 44%, $color-right 99%);

  a {
    color: $blue-light;
    text-shadow: 1px 1px 0 $grey-medium;
  }

  h1 {
    margin: 1.4rem 0 1rem;

    @include font-size(2.4);
  }

  p {
    font-style: italic;
    text-align: center;

    // Typewriter from https://css-tricks.com/snippets/css/typewriter-effect/
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto 1.4rem;
    letter-spacing: 0.05rem;
    animation: typing 3.5s steps(40, end);

    @include font-size(1.2);
  }
}

// typing effect
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
