# Overview of all rules: https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md
{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "indentation": null,
    "selector-max-specificity": "0,3,0",
    "selector-max-compound-selectors": 4,
    "declaration-no-important": true,
    "declaration-property-unit-whitelist": {
        "font-size": ["px"]
    },
    "no-missing-end-of-source-newline": null,
    "max-nesting-depth": [
      3,
      { "ignoreAtRules": [ "include", "media"] }
    ],
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-mixin-named-arguments": ["always",
      { "ignore": ["single-argument"] }
    ],
    "scss/at-function-named-arguments": ["always",
      { "ignore": ["single-argument"] }
    ],
  }
}
